@media (max-width: 1027px) {
    .sidebar_icon {
        visibility: visible;
    }

    .siderbar_title {
        visibility: hidden;
    }

    .siderbar_title1 {
        visibility: hidden;
    }

    .sidebar h2 {
        margin-bottom: 0.5rem;
    }

    .search-bar {
        width: 200px;
    }

    .dashboard-content {
        flex-direction: column;
    }

    .anatomy-section,
    .rightcontainter {
        flex: 1 1 100%;
    }

    .dashboard-content> :first-child {
        width: 100%;
    }

    .rightcontainter {
        width: 100%;
    }

    .app-container> :nth-child(1) {
        width: 18%;
    }

    .nav-list li {
        visibility: hidden;
        ;
    }

    .nav-list li span {
        visibility: visible;
    }
}

@media (max-width: 600px) {
    .anatomy-left-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .appointment-card {
        padding: 6px;
    }

    .label_leg {
        bottom: 548px;
    }

    .calendar-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 520px) {
    .card {
        flex-direction: column;
        padding: 10px;
        padding-left: 0px;
    }

    .sidebar h3 {
        font-size: 0.65rem;
    }
}